<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= title %></title>
        
        <% include ../parts/meta %>
        <% include ../parts/styles %>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.3/gh-fork-ribbon.min.css" />
    </head>
    
    <body>
        <div class="main-layout">
            <header>
                <% include ../parts/nav %>
            </header>

            <main class="landing">
                <section id="home">
                    <div id="headline" class="flex-column">
                    <p id="first-line">Hello, I am Mihail Feraru.</p>
                    <p id="second-line">@littlewho @JustBeYou</p>
                    <p>I love writing poems for computers, you may call it software engineering.</p>
                    <p>I'm doing fullstack development using technologies at your choice, turning any idea into palpable software 
                      with clean, efficient and cost effective architecture.</p>
                    <p>Feel free to explore my experience and showcased projects below.</p>
                    <p>For job offers, contract projects, mentoring sessions or even if you want to <b>drink a beer</b> 
                      with me leave a message at <a class="link" href="mailto:mihailferaru2000@gmail.com">mihailferaru2000@gmail.com</a></p>
                    </div>
                    <% include ../parts/landing-animation %> 
                </section>
                <section id="projects">
                    <div class="showcase" id="showcase-1">
                        <% project.filter(projectElem => projectElem.highlight).forEach(projectElem => { %>
                        <figure>
                            <% if (projectElem.ribbon !== undefined) { %>
                              <a class="github-fork-ribbon" data-ribbon="<%= projectElem.ribbon %>" title="<%= projectElem.ribbon %>"><%= projectElem.ribbon %></a>
                            <% } %>
                            <figcaption><%= projectElem.title %></figcaption>
                            <img src="<%= projectElem.image %>" alt="<%= projectElem.title %>">
                            <label><%= projectElem.label %></label>
                        </figure>
                        <% }); %>
                        
                        <div class="text">
                          <h2>Coding laboratory</h2>
                          <h3>Building apps for fun 'cause why not</h3>
                          <p>Besides professional and business projects I also build apps and tools just for the fun of it. 
                             The learning experience is priceless and sometimes you also end up with someting useful and cool.
                          </p>
                        </div>
                    </div>

                    <div class="showcase" id="showcase-2">
                      <% project.filter(projectElem => !projectElem.highlight).forEach(projectElem => { %>
                        <figure>
                            <% if (projectElem.ribbon !== undefined) { %>
                              <a class="github-fork-ribbon" data-ribbon="<%= projectElem.ribbon %>" title="<%= projectElem.ribbon %>"><%= projectElem.ribbon %></a>
                            <% } %>
                            <figcaption><%= projectElem.title %></figcaption>
                            <img src="<%= projectElem.image %>" alt="<%= projectElem.title %>">
                            <label><%= projectElem.label %></label>
                        </figure>
                        <% }); %>
                    </div>
                </section>
                <section id="about">
                    <h2>Know nothing important about ME!</h2>
                    <h3>More irrelevant information</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        Sed elementum diam congue felis ornare, sit amet dignissim ipsum elementum. 
                        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>

                        <div class="timeline">
                            <div class="timeline__group">
                              <span class="timeline__year">2016</span>

                              <div class="timeline__box">
                                <div class="timeline__date">
                                  <span class="timeline__day">15</span>
                                  <span class="timeline__month">Dec</span>
                                </div>
                                <div class="timeline__post">
                                  <div class="timeline__content">
                                    <p>
                                      Contributing to <a href="https://github.com/aenachescu/PhiOS" target="_blank">PhiOS</a>, an OS development
                                      pet project.
                                    </p>
                                  </div>
                                </div>
                              </div>

                              <div class="timeline__box">
                                <div class="timeline__date">
                                  <span class="timeline__day">5</span>
                                  <span class="timeline__month">Jul</span>
                                </div>
                                <div class="timeline__post">
                                  <div class="timeline__content">
                                    <p>
                                      Developed a statistics generator for <i>tcpdump</i>. It was generating reports in HTML format,
                                      allowing various types of sorting, backup capability and flexible configuration. Initially it was
                                      a paid project, but then I was allowed to make it open-source. 
                                    </p>
                                  </div>
                                </div>
                              </div>

                              <div class="timeline__box">
                                <div class="timeline__date">
                                  <span class="timeline__day">1</span>
                                  <span class="timeline__month">Jun</span>
                                </div>
                                <div class="timeline__post">
                                  <div class="timeline__content">
                                    <p>
                                      Became a part-time freelancer on the World Wide Web. For about two years from this date
                                      I worked on various projects from many clients, mostly on task automation using Python, 
                                      backend web development in Python Flask, PHP vanilla or Magento 2 tweaks, but also some 
                                      C and C++ applications.
                                    </p>
                                  </div>
                                </div>
                              </div>

                              <div class="timeline__box">
                                <div class="timeline__date">
                                  <span class="timeline__day">11</span>
                                  <span class="timeline__month">Apr</span>
                                </div>
                                <div class="timeline__post">
                                  <div class="timeline__content">
                                    <p>
                                      Started working on a encrypted chat application with one of my more experienced friends. 
                                      This guy had a great impact on my evolution, check him out 
                                      <a target="_blank" href="https://github.com/aenachescu">@AlinEnachescu</a>.
                                    </p>
                                  </div>
                                </div>
                              </div>

                              <div class="timeline__box">
                                <div class="timeline__date">
                                  <span class="timeline__day">7</span>
                                  <span class="timeline__month">Mar</span>
                                </div>
                                <div class="timeline__post">
                                  <div class="timeline__content">
                                    <p>
                                      Second release of <b>PhotonOS</b>, now supporting system calls, a read-only file system and much more.
                                    </p>
                                  </div>
                                </div>
                              </div>

                            </div>

                            <div class="timeline__group">
                              <span class="timeline__year">2015</span>

                              <div class="timeline__box">
                                <div class="timeline__date">
                                  <span class="timeline__day">11</span>
                                  <span class="timeline__month">Sept</span>
                                </div>
                                <div class="timeline__post">
                                  <div class="timeline__content">
                                    <p>
                                      Joined the educational programming group <b>CruceGameDevel</b>. 
                                      For a few months I learned the best coding practices from awesome mentors and 
                                      aquired teamworking skills.  
                                    </p>
                                  </div>
                                </div>
                              </div>

                              <div class="timeline__box">
                                <div class="timeline__date">
                                  <span class="timeline__day">7</span>
                                  <span class="timeline__month">Sept</span>
                                </div>
                                <div class="timeline__post">
                                  <div class="timeline__content">
                                    <p>
                                      First merged pull request to <b>CruceGame</b> and the first solved issue!
                                    </p>
                                  </div>
                                </div>
                              </div>

                              <div class="timeline__box">
                                <div class="timeline__date">
                                  <span class="timeline__day">18</span>
                                  <span class="timeline__month">Apr</span>
                                </div>
                                <div class="timeline__post">
                                  <div class="timeline__content">
                                    <p>
                                      First release of <b>PhotonOS</b>, a home-made operating system!
                                    </p>
                                  </div>
                                </div>
                              </div>

                              <div class="timeline__box">
                                <div class="timeline__date">
                                  <span class="timeline__day">17</span>
                                  <span class="timeline__month">Apr</span>
                                </div>
                                <div class="timeline__post">
                                  <div class="timeline__content">
                                    <p>
                                      <strong>First Github repository!</strong>
                                    </p>
                                  </div>
                                </div>
                              </div>


                              <div class="timeline__box">
                                <div class="timeline__date">
                                  <span class="timeline__day">27</span>
                                  <span class="timeline__month">Jan</span>
                                </div>
                                <div class="timeline__post">
                                  <div class="timeline__content">
                                    <p>
                                      <strong>Joined Github!</strong>
                                    </p>
                                  </div>
                                </div>
                              </div>

                            </div>

                            <div class="timeline__group">
                              <span class="timeline__year">2014</span>
                              
                              <div class="timeline__box">
                                <div class="timeline__date">
                                  <span class="timeline__day">14</span>
                                  <span class="timeline__month">Sept</span>
                                </div>
                                <div class="timeline__post">
                                  <div class="timeline__content">
                                    <p>
                                      Started learning <b>C</b> and low level concepts about <i>computer architecture</i>.
                                      <b>Operating systems</b> development seemed a very appealing field to me and soon I started coding my own <i>kernel</i>.
                                    </p>
                                  </div>
                                </div>
                              </div>

                              <div class="timeline__box">
                                <div class="timeline__date">
                                  <span class="timeline__day">17</span>
                                  <span class="timeline__month">Aug</span>
                                </div>
                                <div class="timeline__post">
                                  <div class="timeline__content">
                                    <p>
                                      TankWars, my first attempt to create a graphical game, a classic 2D shooter with tanks, 
                                      built using <i>PyGame</i> for drawing on the screen, but most of <i>game engine features</i> were implemented
                                      manually, like object collision, click on object, etc.
                                    </p>
                                  </div>
                                </div>
                              </div>

                              <div class="timeline__box">
                                <div class="timeline__date">
                                  <span class="timeline__day">1</span>
                                  <span class="timeline__month">Apr</span>
                                </div>
                                <div class="timeline__post">
                                  <div class="timeline__content">
                                    <p>
                                      Learned <b>PythonQt</b> and built a "web browser" using its integrated <i>HTML renderer</i>.
                                    </p>
                                  </div>
                                </div>
                              </div>

                              <div class="timeline__box">
                                <div class="timeline__date">
                                  <span class="timeline__day">30</span>
                                  <span class="timeline__month">Jan</span>
                                </div>
                                <div class="timeline__post">
                                  <div class="timeline__content">
                                    <p>
                                      Playing with my new aquired skills, moslty building text-based adventures or solving <b>math</b> problems using
                                      the computer.
                                    </p>
                                  </div>
                                </div>
                              </div>

                            </div>

                            <div class="timeline__group">
                              <span class="timeline__year">2013</span>

                              <div class="timeline__box">
                                <div class="timeline__date">
                                  <span class="timeline__day">10</span>
                                  <span class="timeline__month">Dec</span>
                                </div>
                                <div class="timeline__post">
                                  <div class="timeline__content">
                                    <p>
                                      Joined a small <b>programming</b> group formed on Codecademy Forums. Our goal was to
                                      polish our new skills in a team project and we did it, for about three months we worked
                                      on a text-based adventure game.
                                    </p>
                                  </div>
                                </div>
                              </div>

                              <div class="timeline__box">
                                <div class="timeline__date">
                                  <span class="timeline__day">30</span>
                                  <span class="timeline__month">Nov</span>
                                </div>
                                <div class="timeline__post">
                                  <div class="timeline__content">
                                    <p>Beginning of the journey, first line of <b>code</b> written. <code>print("Hello, Monty Python!")</code></p>
                                  </div>
                                </div>
                              </div>

                            </div>
                          </div>       

                    <div class="social">
                        <a href="tel:0770709317"><i class="fas fa-phone-square"></i></a>
                        <a href="https://www.linkedin.com/in/mihail-feraru/" target="_blank"><i class="fab fa-linkedin"></i></a>
                        <a href="https://github.com/JustBeYou" target="_blank"><i class="fab fa-github-square"></i></a>
                        <a href="mailto:mihailferaru2000@gmail.com"><i class="fab fa-google-plus-square"></i></a>
                        <a href="https://www.facebook.com/ferarumihail" target="_blank"><i class="fab fa-facebook-square"></i></a>
                    </div>
                </section>
            </main>

            <!--
            <aside>
                <strong>This would be a side menu</strong>
            </aside>
            -->

            <footer>
                <small>Copyrights and notes</small>
            </footer>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/core.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/sha256.js"></script>
        <script src="/javascripts/analytics.js"></script>
    </body>
</html>